@import '../../styles.scss';
.font-weight{
    font-weight: bold;
}
.summaryText{
    padding-right: 10px ;
    text-align: start;
}
.glyphicon-star{
    color: gold;
}
.dullWhite{
    color: $NavBackground;
    font-weight:600;
}
.bg-color{
    background: transparent;
    color:$NavBackground;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: underline;
    font-size: larger;
}
.mr-b{
margin-bottom: 0px;
}
.bt-align{
    margin-left:10px;
}
.mr-bt{
    margin-bottom: 20px;
}
.infoBackgorund{
    background: $pagebackground;
    opacity: 0.6;
    padding: 50px;
    margin-top: 50px;
    width: 50%;
    border:1px solid $NavBackground;
    border-radius: 25px;
}
h3{
    margin-top: 0px;
}

.image_align{
    padding-left: 10px;
}
.paddingTxt{
    padding: 20px;
}

@media only screen and (max-width: 567px){
    .infoBackgorund{
        width: auto!important;
        padding: 20px!important;
    }
    .image_align{
        padding-left: 10px;
        width:100%;
    }
   
}
