    <nav class="navbar navbar-expand-lg navbar-dark bg-dark Menu-bar navbar-fixed-top row">
        <div class="navbar-brand col-sm-4">
            <img class="header-logo" [routerLink]="['/Dashboard']" src="../../assets/tvm-header-logo.png"/>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Mynavbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
          <span class="glyphicon glyphicon-menu-hamburger "></span>
        </button>
      <div class="col-sm-4"></div>
        <div class="collapse navbar-collapse" id="MyNavbar" [ngbCollapse]="isCollapsed">
       <div class="col-sm-4">
            <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
                <div class="SearchRight ">
                    <input [(ngModel)]="searchTxt" name="searchTxt" autocomplete="off"  type="text" class="Inputfeild" placeholder="Search">
                    <i class="Srch glyphicon glyphicon-search"></i>
                </div>
            </form>
        </div>
    </div>
      </nav>
    